<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="sourcePath" value="source"/>
    <add key="targetPath" value="target"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="TS3Gifbox" switchValue="All">
        <listeners>
          <add name="consoleListener"
               type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="FileLog"
               type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
               BaseFileName="TS3Gifbox"
               DiskSpaceExhaustedBehavior="ThrowException"
               Location="ExecutableDirectory"
               MaxFileSize="81920000"
               LogFileCreationSchedule="Daily"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
